<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/base.html :: adminHeaderfiles(title='Hotel')">
    </head>

    <body>
        <!-- Navigation -->
        <nav th:replace="fragments/base.html :: navbar"></nav>

        <!-- Header -->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">SiwBooking</div>

                <a class="btn btn-primary btn-xl text-uppercase" href="#services" >Visualizza
                    i dettagli dell'Hotel</a>
            </div>
        </header>
        <!-- Services -->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">
                        <span th:text="${hotel.nome}">nome</span>
                    </h2>
                    <div th:if="hotel" th:object="${hotel}">
                        <h4 th:text="*{indirizzo}">indirizzo:</h4>

                        <ul style="padding-left: 0rem;">
                            <h4>Stanze:</h4>
                            <p th:if="${hotel.stanze.isEmpty()}">Non sono state aggiunte stanze per questo hotel</p>
                            <li th:each="stanza : ${stanze}">
                                <a th:href="@{'/stanza' + '/' + ${stanza.id}}"
                                    th:text="${stanza.name}" style="font-size: 20px;">stanza</a>
                            </li>
                        </ul>

                        <div th:unless="${hotel}">Non esiste</div>
                    </div>
                </div>
            </div>
        </section>


      

        <section th:replace="fragments/base.html :: contact">
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>

</html>